@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@section topCSS{
    <link href="./css/background_img.css" rel="stylesheet" />
}
<h1>@ViewData["Title"]</h1>
<p>
    重設成功.<br>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
@section endJs{
    <script src="./js/background_img.js"></script>
}