body {
    margin: 0;
    /* overflow: hidden; */
    cursor: url('/Images/paw.jpg') 45 45, auto;
}

.image {
    transition: fill 1s ease-in-out;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 80vh 1fr;
    grid-template-rows: 72vh 1fr;
    background-color: var(--trees);
}

[class*="section_"] {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 100%;
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.section_sky {
    grid-column: 1 / -1;
    grid-row: 1;
}

.section_rl, .section_ml, .section_fl {
    grid-column: 1;
    grid-row: 1;
}

.section_rm, .section_mm, .section_fm {
    grid-column: 2;
    grid-row: 1;
}

.section_rr, .section_mr, .section_fr {
    grid-column: 3;
    grid-row: 1;
}

[class*="section_f"], .section_trees {
    isolation: isolate;
}

.section_mfog {
    height: 30%;
    margin-top: 30vh;
}

.section_ffog {
    height: 30%;
    margin-top: auto;
}

.section_sun {
    height: 16vh;
    width: 16vh;
    margin: 4vh auto 0;
}

.gradient stop {
    transition: stop-color 1s ease-in-out;
}

.image-light {
    --rear_highlight: #2fe417;
    --rear_shadow: #7bc26d;
    --mid_highlight: #78ff66;
    --mid_shadow: #54a174;
    --fore_highlight: #3cf388;
    --fore_shadow: #5fd490;
    --trees: #47995b;
    --sky-bottom: #16b5e6ad;
    --sky-mid: #3676d6;
    --sky-top: #70a0fa;
    --fog: #ffff66;
    --sun: #23f134;
}

.image-dark {
    --rear_highlight: #a5cfe6;
    --rear_shadow: #7095af;
    --mid_highlight: #88d1fb;
    --mid_shadow: #4B6C82;
    --fore_highlight: #87d5f7;
    --fore_shadow: #385162;
    --trees: #253641;
    --sky-bottom: #a1cde4;
    --sky-mid: #7eb9d8;
    --sky-top: #051f33;
    --fog: #c9dfff;
    --sun: #6daac2;
}

.image-light .moon {
    opacity: 0;
}

.image-dark .moon {
    opacity: .22;
}

.screen {
    mix-blend-mode: screen;
}

.fog {
    fill: url(#gradient-fog);
    opacity: .22;
}

.moon {
    isolation: isolate;
    opacity: 0.22;
    mix-blend-mode: multiply;
    transition: opacity 1s ease-in-out;
}

.moon-grey1 {
    fill: #757575;
}

.moon-grey2 {
    fill: #595959;
}

.moon-grey3 {
    fill: #b2b2b2;
}

.moon-grey4 {
    fill: #ddd;
}

path, polygon {
    transition: fill 1s ease-in-out;
}

.image {
    transition: background-color 1s ease-in-out;
}

.switch {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 0;
    background: transparent;
    cursor: pointer;
}

    .switch span {
        filter: saturate(0);
        background-color: transparent;
        opacity: .5;
        padding: .25rem;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        transition: border-bottom-color 1s ease-in-out, filter 1s ease-in-out, opacity 1s ease-in-out;
    }

        .switch span:first-child {
            margin-right: 1rem;
        }

[aria-checked="false"] span:first-child {
    filter: none;
    opacity: 1;
    border-color: white;
}

[aria-checked="true"] span:last-child {
    filter: none;
    opacity: 1;
    border-color: white;
}
/*背景尾*/

.top-playerimg {
    display: flex;
    margin-top: 4%;
    margin-left: 4%;
}

    .top-playerimg a {
        margin-left: 6%;
    }

.footer-playerimg a {
    margin-left: 6%;
}

.playerimg {
    position: relative;
}

.footer-playerimg {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
}

.deadimg {
    position: absolute;
    z-index: 6;
}

.playerphoto {
    /* position: absolute;  */
    z-index: 1;
}

.circleImg {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 15%;
    z-index: 8;
}

    .circleImg img {
        border-radius: 100%;
        max-width: 100% !important;
    }


.gamerecord {
    display: flex;
    height: 320px;
}

    .gamerecord p {
        margin: 5Px 10px 0 10px;
        background-color: #253641;
        color: #ffffff;
        padding: 2px 15px;
    }

.leftgamerecord {
    width: 55%;
    background-color: rgba(104, 157, 186, 0.6);
    margin-left: 5%;
    margin-top: 2%;
}

.rightgamerecord {
    width: 25%;
    background-color: rgba(104, 157, 186, 0.6);
    margin-left: 5%;
    margin-top: 2%;
}

.number {
    background-color: #ffa396;
    padding: 6px 11px;
    font-size: 12px;
    font-family: "Work Sans";
    position: absolute;
    top: 0px;
    left: 5px;
    color: #ffffff;
}

.image-dark {
    position: relative;
}

.gamebaby {
    width: 95%;
    position: absolute;
}

.bb {
    position: absolute;
    color: aliceblue;
    top: 100px;
}

.right_dialogue p {
    color: #ffffff;
}

.dialogue_card {
    background-color: rgba(104, 157, 186, 0.6);
}

    .dialogue_card p {
        margin: 5px 10px 0 10px;
        background-color: #253641;
        color: #ffffff;
        padding: 2px 15px;
    }

#div1 {
    overflow-y: scroll;
    width: 89%;
    height: 300px;
}

.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
}

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000;
    }

        .glow-on-hover:active:after {
            background: transparent;
        }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#sendBtn {
    height: 50px;
    width: auto;
}

.text_decord {
    width: 69%;
    margin-left: 43px;
}

#describe {
    cursor: default;
}

li {
    color: #ffffff;
}


.on {
    margin: 5px;
    box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
    filter: alpha(Opacity=100)
}

.off {
    margin: 5px;
    ;
    filter: alpha(Opacity=20)
}

/*選轉*/
.img-spin {
    width: 200px;
    height: 180px;
    display: block;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 1s;
    -webkit-animation-name: spin;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2s;
}
#toggleDark {
    top: -10000px;
    left: -10000px;
}
@keyframes spin {
    0% {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }

    50% {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }

    100% {
        animation-fill-mode: forwards;
    }
}
