
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {

    overflow: hidden;
}

.wrap {
    position: absolute;
    width: 100%;
    margin: auto;
}

.backgame {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 150px;
}

#again {
    margin-left: 50px;
}




.btn-reveal {
    color: black;
    background-color: rgba(104, 157, 186);
    /* text-decoration: none; */
    text-transform: uppercase;
    text-align: center;
    padding: 20px 100px;
    font-size: 18px;
    margin: 50px 0;
    display: block;
    border-radius: 0;
    white-space: nowrap;
    position: relative;
    transition: all .3s .15s ease-in-out;
    overflow: hidden;
}

.btn-reveal .show {

    font-family: '微軟正黑體';
    font-weight: bold;
    display: block;
    transition: all .5s ease;
    transform: translateY(0);
}

.btn-reveal:hover .show {
    transform: translateY(150px);
}

.btn-reveal .reveal {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: '微軟正黑體';
    font-size: large;
    font-weight: bold;
    height: auto;
    width: 100%;
    color: wheat;
    background-color: #426074;
    padding: 20px 0px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
    transform: translateY(-110px);
}

.btn-reveal:hover .reveal {
    transform: translateY(0);
}



.titlecontainer {
    width: 14em;
    height: 1em;
    font-size: 34px;
    margin: 10% auto 0;
    justify-content: space-between;
}

.titlecontainer span {
    width: 1em;
    height: 1em;
    --duration: 2s;
}



@keyframes slide {
    from {
        transform: translateX(0);
        filter: brightness(1);
    }

    to {
        transform: translatex(calc(8em - (1em * 1.25)));
        filter: brightness(1.45);
    }
}

.boys {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.boys span {
    text-align: center;

    animation: var(--duration) ease-in-out infinite alternate;
}

.boys span:nth-child(1) {

    animation-name: jump-off-1;
}

.boys span:nth-child(2) {
    animation-name: jump-off-2;
}

.boys span:nth-child(3) {
    animation-name: jump-off-3;
}

.boys span:nth-child(4) {
    animation-name: jump-off-4;
}

@keyframes jump-off-1 {

    0%,
    15% {
        transform: rotate(0deg);
    }

    35%,
    100% {
        transform-origin: -50% center;
        transform: rotate(-180deg);
    }
}

@keyframes jump-off-2 {

    0%,
    30% {
        transform: rotate(0deg);
    }

    50%,
    100% {
        transform-origin: -50% center;
        transform: rotate(-180deg);
    }
}

@keyframes jump-off-3 {

    0%,
    45% {
        transform: rotate(0deg);
    }

    65%,
    100% {
        transform-origin: -50% center;
        transform: rotate(-180deg);
    }
}

@keyframes jump-off-4 {

    0%,
    60% {
        transform: rotate(0deg);
    }

    80%,
    100% {
        transform-origin: -50% center;
        transform: rotate(-180deg);
    }
}

.titlecontainer span::before {
    content: '';
    position: absolute;
    border-radius: 15%;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);
}


.boys span {
    background-color: #385162;
    animation: var(--duration) ease-in-out infinite alternate;
    border-radius: 15%;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    color: antiquewhite;
    font-family: 微軟正黑體;
}

.boys span:nth-child(1)::before {

    animation-name: jump-down-1;
}

.boys span:nth-child(1) {
    filter: brightness(1.15);

}

.boys span:nth-child(2)::before {

    animation-name: jump-down-2;
}

.boys span:nth-child(2) {
    filter: brightness(1.3);

}

.boys span:nth-child(3)::before {

    animation-name: jump-down-3;
}

.boys span:nth-child(3) {
    filter: brightness(1.45);

}

.boys span:nth-child(4)::before {

    animation-name: jump-down-4;
}

.boys span:nth-child(4) {
    filter: brightness(1.6);

}

@keyframes jump-down-1 {
    5% {
        transform: scale(1, 1);
    }

    15% {
        transform-origin: center bottom;
        transform: scale(1.3, 0.7);
    }

    20%,
    25% {
        transform-origin: center bottom;
        transform: scale(0.8, 1.4);
    }

    40% {
        transform-origin: center top;
        transform: scale(1.3, 0.7);
    }

    55%,
    100% {
        transform: scale(1, 1);
    }
}

@keyframes jump-down-2 {
    20% {
        transform: scale(1, 1);
    }

    30% {
        transform-origin: center bottom;
        transform: scale(1.3, 0.7);
    }

    35%,
    40% {
        transform-origin: center bottom;
        transform: scale(0.8, 1.4);
    }

    55% {
        transform-origin: center top;
        transform: scale(1.3, 0.7);
    }

    70%,
    100% {
        transform: scale(1, 1);
    }
}

@keyframes jump-down-3 {
    35% {
        transform: scale(1, 1);
    }

    45% {
        transform-origin: center bottom;
        transform: scale(1.3, 0.7);
    }

    50%,
    55% {
        transform-origin: center bottom;
        transform: scale(0.8, 1.4);
    }

    70% {
        transform-origin: center top;
        transform: scale(1.3, 0.7);
    }

    85%,
    100% {
        transform: scale(1, 1);
    }
}

@keyframes jump-down-4 {
    50% {
        transform: scale(1, 1);
    }

    60% {
        transform-origin: center bottom;
        transform: scale(1.3, 0.7);
    }

    65%,
    70% {
        transform-origin: center bottom;
        transform: scale(0.8, 1.4);
    }

    85% {
        transform-origin: center top;
        transform: scale(1.3, 0.7);
    }

    100%,
    100% {
        transform: scale(1, 1);
    }
}

.border-left {
    position: absolute;
    height: 2px;
    width: 50%;
    left: -35%;
    background-color: white;
    top: 50%;
    z-index: 6;
    animation: moveLeft 1.5s forwards infinite ease-in-out;
}

.arrow-top {
    height: 3px;
    width: 10px;
    transform: rotate(45deg);
    position: absolute;
    display: block;
    right: 0;
    top: -4px;
    background-color: white
}

.arrow-bottom {
    height: 3px;
    width: 10px;
    transform: rotate(-45deg);
    position: absolute;
    display: block;
    right: 0;
    bottom: -4px;
    background-color: white
}

.border-left,
.arrow-top,
.arrow-bottom {
    transition-delay: .2s;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.btn:hover .border-left,
.btn:hover .arrow-top,
.btn:hover .arrow-bottom {
    transition-delay: 1s;
    background-color: white;
    animation: none;
}

.border-top,
.border-right,
.border-bottom,
.border-bottom-left,
.border-top-left {
    position: absolute;
    transition: all .2s ease-in-out;
    background-color: white;
    z-index: 5;
}

.border-top {
    top: 0;
    left: 0;
    right: 100%;
    height: 2px;
    transition-delay: .6s;
}

.btn:hover .border-top {
    right: 0;
    transition-delay: .2s;
}

.border-right {
    top: 0;
    right: 0;
    bottom: 100%;
    width: 2px;
    transition-delay: .4s;
}

.btn:hover .border-right {
    bottom: 0;
    transition-delay: .4s;
}

.border-bottom {
    bottom: 0;
    right: 0;
    left: 100%;
    height: 2px;
    transition-delay: .2s;
}

.btn:hover .border-bottom {
    left: 0;
    transition-delay: .6s;
}

.border-bottom-left {
    bottom: 0;
    height: 0;
    width: 2px;
    left: 0;
    transition-delay: 0s;
}

.btn:hover .border-bottom-left {
    height: 50%;
    transition-delay: .8s;
}

.border-top-left {
    bottom: 50%;
    left: 0;
    height: 0;
    width: 2px;
    transition-delay: .8s;
}

.btn:hover .border-top-left {
    height: 50%;
    transition-delay: 0s;
}

#wolf_003-01-01 {
    position: absolute;
    top: 5%;
    animation-name: oxxo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

}

@keyframes oxxo {
    from {
        left: 100%;
    }

    to {
        left: -6%;
    }


}

body {
    margin: 0;
}

.image {
    position: relative;
    transition: fill 3s ease-in-out;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 80vh 1fr;
    grid-template-rows: 72vh 1fr;
    background-color: var(--trees);
}

[class*="section_"] {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 100%;
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.section_sky {
    grid-column: 1 / -1;
    grid-row: 1;
}

.section_rl,
.section_ml,
.section_fl {
    grid-column: 1;
    grid-row: 1;
}

.section_rm,
.section_mm,
.section_fm {
    grid-column: 2;
    grid-row: 1;
}

.section_rr,
.section_mr,
.section_fr {
    grid-column: 3;
    grid-row: 1;
}

[class*="section_f"],
.section_trees {
    isolation: isolate;
}

.section_mfog {
    height: 30%;
    margin-top: 30vh;
}

.section_ffog {
    height: 30%;
    margin-top: auto;
}

.section_sun {
    height: 16vh;
    width: 16vh;
    margin: 4vh auto 0;
}

.gradient stop {
    transition: stop-color 3s ease-in-out;
}

.image-light {
    --rear_highlight: #ff8080;
    --rear_shadow: #c26d80;
    --mid_highlight: #ff6666;
    --mid_shadow: #824b6c;
    --fore_highlight: #ff4d4d;
    --fore_shadow: #623851;
    --trees: #412536;
    --sky-bottom: #FFAD66;
    --sky-mid: #ff8080;
    --sky-top: #412536;
    --fog: #ffff66;
    --sun: #ff4f23;
}

.image-dark {
    --rear_highlight: #a5cfe6;
    --rear_shadow: #7095af;
    --mid_highlight: #88d1fb;
    --mid_shadow: #4B6C82;
    --fore_highlight: #87d5f7;
    --fore_shadow: #385162;
    --trees: #253641;
    --sky-bottom: #a1cde4;
    --sky-mid: #7eb9d8;
    --sky-top: #051f33;
    --fog: #c9dfff;
    --sun: #6daac2;
}

.image-light .moon {
    opacity: 0;
}

.image-dark .moon {
    opacity: .22;
}

.screen {
    mix-blend-mode: screen;
}

.fog {
    fill: url(#gradient-fog);
    opacity: 0.7;
}

.moon {
    isolation: isolate;
    opacity: 0.22;
    mix-blend-mode: multiply;
    transition: opacity 1.5s ease-in-out;
}

.moon-grey1 {
    fill: #757575;
}

.moon-grey2 {
    fill: #595959;
}

.moon-grey3 {
    fill: #b2b2b2;
}

.moon-grey4 {
    fill: #ddd;
}

path,
polygon {
    transition: fill 1.5s ease-in-out;
}

.image {
    transition: background-color 1.5s ease-in-out;
}

.switch {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.switch span {
    filter: saturate(0);
    background-color: transparent;
    opacity: .5;
    padding: .25rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    transition: border-bottom-color 1.5s ease-in-out, filter 3s ease-in-out, opacity 3s ease-in-out;
}

.switch span:first-child {
    margin-right: 1rem;
}

[aria-checked="false"] span:first-child {
    filter: none;
    opacity: 1;
    border-color: white;
}

[aria-checked="true"] span:last-child {
    filter: none;
    opacity: 1;
    border-color: white;
}
