
@{
    ViewData["Title"] = "Index";
}

<partial name="~/Views/Shared/_RoomPartialTopJS.cshtml">
    <partial name="~/Views/Shared/_RoomPartialTopCss.cshtml">
        
        <div class="perspective" onclick="openDoor(this)">           
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>001</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="https://i.imgur.com/TGuCa7L.png" alt="Alternate Text" class="open_card" />
                <p>002</p>
                <p>人數: 10/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>003</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="https://i.imgur.com/TGuCa7L.png" alt="Alternate Text" class="open_card" />
                <p>004</p>
                <p>人數: 10/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>005</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>006</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>007</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="https://i.imgur.com/TGuCa7L.png" alt="Alternate Text" class="open_card" />
                <p>008</p>
                <p>人數: 10/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="//i.imgur.com/582RIlF.png" alt="Alternate Text" class="open_card" />
                <p>009</p>
                <p>人數: 5/10</p>
            </div>
        </div>
        <div class="perspective" onclick="openDoor(this)">
            <div class="thumb">
                <img src="https://i.imgur.com/TGuCa7L.png" alt="Alternate Text" class="open_card" />
                <p>010</p>
                <p>人數: 10/10</p>
            </div>
        </div>


        <partial name="~/Views/Shared/_RoomPartialEndJS.cshtml">
